<html class="ng-app">
<head>
  <title>Recreational Records</title>
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
  <script type="text/javascript" src="/components/requirejs/require.js" data-main="/js/main"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#">Recreational Records</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/login">Log in</a></li>
      <li><a href="#/register">Sign up</a></li>
    </ul>
  </div>
</div>