.main {
  margin-top: 100px;
}

.release-title {
  margin-top: 0;
}

.img-thumbnail-release {
  width: 165px;
  height: 165px;
}

.player {
 
  .position {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    color: #999;
  }

  .progress {
    height: 5px;
    margin-bottom: 0;
  }
}