<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form name="userForm" class="form-signin" ng-submit="login()">
      
      <h2 class="form-signin-heading">Log In</h2>

      <div class="form-group" ng-class="{'has-error': (userForm.usernameInput.$error.required || userForm.usernameInput.$error.known) && submitted}">
        <input type="text" name="usernameInput" ng-model="user.username" class="form-control" placeholder="Username" autofocus="" required />
        <span class="help-block" ng-show="userForm.usernameInput.$error.required && submitted">Username is required</span>
        <span class="help-block" ng-show="userForm.usernameInput.$error.known && submitted">Unknown username</span>
      </div>

      <div class="form-group" ng-class="{'has-error': (userForm.passwordInput.$error.required || userForm.passwordInput.$error.valid) && submitted}">
        <input type="password" name="passwordInput" ng-model="user.password" class="form-control" placeholder="Password" required />
        <span class="help-block" ng-show="userForm.passwordInput.$error.required && submitted">Password is required</span>
        <span class="help-block" ng-show="userForm.passwordInput.$error.valid && submitted">Invalid password</span>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

    </form>
    <p>Not registered? <a ng-href="#/register">Register</a></p>
  </div>
  <div class="col-md-4"></div>
</div>