<div class="panel panel-default player">
  <div class="panel-heading">
  <div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="previous()"><span class="glyphicon glyphicon-backward"></span></button>
          <button type="button" class="btn btn-default" ng-click="pause()" ng-show="playing"><span class="glyphicon glyphicon-pause"></span></button>
          <button type="button" class="btn btn-default" ng-click="play(selectedTrack)" ng-show="!playing"><span class="glyphicon glyphicon-play"></span></button>
          <button type="button" class="btn btn-default" ng-click="next()"><span class="glyphicon glyphicon-forward"></span></button>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <p class="position">{{position | date:'mm:ss'}} / {{duration | date:'mm:ss'}}</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
            <span class="sr-only">{{progress}}% Complete (success)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-condensed table-hover">
      <tr ng-repeat="track in tracks" class="track" ng-class="{active: $index==selectedTrack}" ng-click="play($index)">
        <td width="35" class="text-right text-muted">{{$index + 1}}</td><td>{{track.title}}</td>
      </tr>
    </table>
  </div>
</div>