<div header></div>
<div class="container main">
  <div class="row">
    <div class="col-md-4">
      <figure>
        <img class="thumbnail" ng-src="{{data.image}}" alt="{{data.title}}">
      </figure>
    </div>
    <div class="col-md-8">
      <h2 class="release-title">{{data.title}}</h2>
      <p><strong>Artist:</strong> {{data.artist.name}}</p>
      <p><strong>Release date:</strong> {{data.publishedDate | date:'longDate' }}</p>
      <hr>
      <div ng-bind-html="data.description"></div>
      <hr>
      <div player></div>
    </div>
  </div>
</div>