<div header></div>
<div class="container main">
  <p>Recreational Records is a magical land where mp3 files fall out of the sky like cool rain. Boys and girls put on their bootz and splash thru puddles of mp3 files. Mp3 files get all over everybody's faces so that when the children are kissing they are spreading the magic. The magic is real. The magic is Recreational.</p>
  <div class="row">
    <div class="col-md-12">
      <h2>Releases</h2>
      <hr>
    </div>
  </div>
  <div ng-repeat="release in data.releases">
    <div class="row">
      <div class="col-md-2">
        <a href="/release/{{release.slug}}"><img class="img-thumbnail img-thumbnail-release" ng-src="{{release.image}}"/></a>
      </div>
      <div class="col-md-10">
        <p>{{release.artist.name}}</p>
        <h4><a href="/release/{{release.slug}}">{{release.title}}</a></h4>
      </div>
    </div>
    <hr>
  </div>
  <ul class="pagination">
    <li ng-show="data.currentPage > 1"><a href="/releases/page/{{data.currentPage - 1}}">&laquo;</a></li>
    <li ng-repeat="page in data.pages" ng-class="{active: $index + 1 == data.currentPage}"><a href="/releases/page/{{$index + 1}}">{{$index + 1}}</a></li>
    <li ng-show="data.currentPage < data.totalPages"><a href="/releases/page/{{data.currentPage + 1}}">&raquo;</a></li>
  </ul>
</div>