<html>
  <head>
    <title>Recreational Records</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/site.css">
    <meta name="description" content="Recreational Records is a magical land where mp3 files fall out of the sky like cool rain. Boys and girls put on their bootz and splash thru puddles of mp3 files. Mp3 files get all over everybody's faces so that when the children are kissing they are spreading the magic. The magic is real. The magic is Recreational.">
    <script type="text/javascript">
      var MOBILE = <%=mobile%>;
    </script>
  </head>
  <body>